# Ignorar documentos fuente
documentos/
nuevos_documentos/

# Ignorar base de datos vectorial
db_psico/

# Ignorar archivos de entorno
.env
.env.*
*.env
.env.txt
.env.local
.streamlit/secrets.toml

# Ignorar archivos temporales del sistema
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Ignorar claves
*.key
*.pem
